*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: auto;
}
.container{
    height: 550px;;
    width: 100%;
    background-image: url('../img/task2img.jpeg');
    text-align: center;
    align-items: center;
    /* align-content: center; */
    margin:3% auto;
}
.container .main-heading{
    font-size: 50px;
    line-height: 3em;
    padding-top: 150px;

}

.btn{
    border: none;
    padding: 15px 55px;
    font-size: 20px;
    background: orange;
    color: white;
    font-weight: bold;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}